

* {
    border: 1px dashed green;
}


/* BODY */

body {
    height: 100vh;
    margin: 10px;
    background-color: #ffffff;
    color: #424242;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    position: relative;
}

/* LINKS*/

a {
    color: #e91e63;
    text-decoration: none;
}

header a:hover {
    color: #e91e63;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}


/* HEADER */

header {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
   
    border-bottom: 1px solid #424242;
}

nav {
    display: flex;
    margin-left: auto;
}

nav a {
    display: flex;
    min-width: 150px;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
}


/* HEADER MEDIA QUERIES */

@media (max-width: 1200px) {
    header {
        padding-left: 5px;
        padding-right: 5px;
    }
    nav a {
        min-width: 70px;
        min-height: auto;
    }
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-top: 1px solid #424242;
}

/* HOME PAGE CONTENT */

#home-page {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #424242;
}

#about-me-box {
    display: flex;
    border: 2px solid #e91e63;
    width: 30%;
    background-color: #ffffff;
}

#about-me-text {
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

#skills-container {
    background-color: #e91e63;
    border: 2px solid #e91e63;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
}

.skills-boxes {
   display: flex;
   flex-direction: column;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 5px solid #ffffff;
    background-color: lightgrey;
    position: relative;
}

.skills-boxes:hover {
    border: 10px solid #ffffff;
}

.skills-boxes h3 {
    position: absolute;
    top: 1em;
    left: 0;
    width: 100%;
}

.skills-boxes p {
    position: absolute;
    top: 4em;
    left: 0;
    width: 100%;
}

.skills-boxes img {
    display: flex;
    width: 300px;
}

.skills-box-text h3 {
    background-color: #e91e63;
    color: #ffffff;
    width: auto;
    padding: 5px;
}

.skills-box-text p {
    background-color: #e91e63;
    color: #ffffff;
    width: auto;
    padding: 5px;
}


/* HOME PAGE MEDIA QUERIES */

@media (max-width: 1200px) {
    #home-page {
        flex-direction: column;
        padding: 5%;
    }
    #about-me-box {
        width: 100%;
    }

    #about-me-text {
        padding: 5px;
        font-size: 14px;
        
    }

    #skills-container {
        background-color: #e91e63;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

}

/* CONTACT PAGE CONTENT */

#contact-page {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #424242;
}

#about-me-container {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 30%;
}

#about-me-content {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    position: relative;
}

#about-me-content img {
    display: flex; 
    width: 100%;
}

#about-me-content p {
    background-color: #424242; 
    color: #ffffff;
}

#linkedin-overlay {
    display: flex; 
    width: 75%;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 5em;
    font-size: 18px;
}

#github-overlay {
    display: flex; 
    width: 75%;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 1em;
    font-size: 18px;
}



#contact-form-container {
    background-color: #e91e63;
    border: 2px solid #e91e63;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
}

#contact-form-container h2 {
    display: flex;
    padding-left: 20px;
}

form {
    border-top: 1px solid #424242;
    padding-top: 25px;
    width: 100%;
}



/* FORM FORMATTING */

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.form-item label {
    flex-basis: 100px;
    font-size: 18px;
}

.form-item input,
.form-item textarea {
    flex-basis: 50%;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid #424242;
}

.form-item input,
.form-item textarea,
.form-item button {
    border: 1px solid #424242;
    background-color: #FFF;
    padding: 5px;
    font-size: 18px;
}

.form-item button:hover {
    border: 1px solid #ffffff;
    background-color: #e91e63;
    color: #FFF;
}

.form-item button {
    width: 100px;
}


/* CONTACT PAGE MEDIA QUERIES */


@media (max-width: 1200px) {
    #contact-page {
        flex-direction: column;
        padding: 5%;
    }
    #about-me-container {
        width: 100%;
    }

    #about-me-content {
        padding: 5px;
        font-size: 16px;
        
    }

    #contact-form-container {
        width: 100%;
    }

    .form-item label {
        width: 50px;
        font-size: 16px;
    }

    .form-item input,
    .form-item textarea {
        flex-basis: 100%;
    }


}